extends layout

block content

  p #{title}
  p Note: This page is under construction, not all of its features work yet :)

  each chr in characters
    div(id="div").letters
      p #{chr.name}
      img(src=chr.src, onclick="removeImg", width="90", height="90")
      p Pronunciation: #{chr.pronunciation}
      p Like #{chr.pronunciation} in #{chr.example}


  script.
    function removeImg(){
      this.style.display = "none";
    }
    document.getElementById("div").addEventListener("click", removeImg);		
